@model Park
@{
    ViewData["Title"] = "Details";
}

    <link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet'>

    <style>
        .quote {
            font-family: 'Parisienne';
        }
    </style>

<div class="divBox">
    <div class="divText">
        <p>Park Details</p>
    </div>
</div>

<img id="detailImage" src="~/images/@(Model.ParkCode.ToLower() + ".jpg")" />
<br />

<div>


    <div class="nameState">
        <p> @(Model.ParkName + " (" + Model.ParkCode + ") - " + Model.State)</p>
    </div>


    <div class="visitors">
        <ul>
            <li>@("Est. " + Model.YearFounded)</li>
            <li>@(Model.AnnualVisitorCount + " Annual Visitors")</li>
            <li>@(Model.NumberOfAnimalSpecies + " Known Species")</li>
            <li>@("Climate: " + Model.Climate)</li>
        </ul>

    </div>
    <div class="nameState">
        <p>
            @Model.ParkDescription
        </p>
    </div>

    <div class="visitors">
        <ul>
            <li>@(Model.Acreage + " Acres")</li>
            <li>@("Elevation: " + Model.ElevationInFeet + "ft")</li>
            <li>@(Model.NumberOfCampsites + " Campsites")</li>
            <li>@(Model.MilesOfTrail + " Miles of Trails")</li>
        </ul>

    </div>
    <div class="quote">
        <p>
            @("\"" + Model.InspirationalQuote + "\"")
            @("- " + Model.InspirationalQuoteSource)
        </p>

    </div>
    <div class="nameState">
        <p>
            @("Entry Fee: $" + Model.EntryFee)
        </p>

    </div>

</div>