@model IList<SurveyResultsModel>
@{
    ViewData["Title"] = "SurveyResults";
}
<div class="divBox">
    <div class="divText">
        <p>Survey Results</p>
    </div>
</div>


<div class="surveyResults">
    @foreach (SurveyResultsModel survey in Model)
    {
        <p>
            @survey.SurveyCount Vote(s)<br />

            @survey.ParkName <br />

            @survey.State <br />

            @survey.AnnualVisitorCount Annual Visitors <br />

            @survey.ParkDescription
        </p>

    }
</div>

